body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
}

.topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a:hover {
    color: firebrick;
    transition: 1s;
  }

  #btnTest{
      width: 100px;
      height: 50px;
      background-color: green;
      border: white solid 1px;
      color: white;
  }
  #btnTest:hover{
      cursor: pointer;
      opacity: 0.8;
      transition: 1.5s;
  }
  